3rdparty
dataset
# my_exp_util
# my_img_util
# my_vehicle_vision_util
results
my_test
output

# dump the intermediate results for debugging
dump/*

# matlab auto save files
*.asv

# tmp files %*/*
%*

# matlab documentation output
html


*.exe
*.dll